:root {
    --header-logo: #2196F3;
    --accent-color: #212121;
    --logo-color: #000;
    --aditional-color: #757575;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
    --main-background: #FFF;
    --team-background: #F5F4FA;
    --title-color: #212121;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p

{
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.header-logo {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-web {
    color: var(--header-logo);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.nav-link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link {
    color: var(--aditional-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.hero {
    background-color: var(--footer-background);
    color: var(--main-background);
    text-align: center;
    line-height: 1.87;
    letter-spacing: 0.96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 350px;

}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.87;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    background-color: var(--header-logo);
    color: var(--main-background);

}

.advantages-features {
    color: var(--title-color);
    width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--aditional-color);
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.work-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.work-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.team {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
    letter-spacing: 1.08px;
}

.team-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.team-caption {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.team-desc {
    color: var(--aditional-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

footer {
    background-color: var(--footer-background);
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-color {
    color: var(--header-logo);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-item {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link {
    color: var(--footer-number);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.content-title {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.content-about {
    color: var(--aditional-color);
    width: 322px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.btn-item:hover {
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    color: var(--team-background);
    background-color: var(--header-logo);
}

.btn-item {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}