:root {
    --header-logo: #2196F3;
    --accent-color: #212121;
    --logo-color: #000;
    --aditional-color: #757575;
    --footer-background: #2F303A;
    --footer-number: rgba(255, 255, 255, 0.60);
    --main-background: #FFF;
    --team-background: #F5F4FA;
    --title-color: #212121;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 15 15px;
    outline: 1px solid red;
}

.body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    display: flex;
    margin-right: 93px;
}

.logo-web {
    color: var(--header-logo);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header-link {
    color: var(--aditional-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    margin-left: 344px;
    gap: 50px;
}


.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}




.hero-button {
    margin-top: 30px;
    margin-bottom: 200px;

}




.hero-button {

    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    background-color: var(--header-logo);
    color: var(--main-background);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 200px;
}

.hero {
    background-color: var(--footer-background);
    color: var(--main-background);
    text-align: center;
    line-height: 1.87;
    letter-spacing: 0.96px;
    display: flex;
    padding: 0 350px;
}

.hero-title {
    color: var(--main-background);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.87;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}







.advantages-list {
    display: flex;
    gap: 30px;
    padding-top: 94px;
}

.team-caption {
    padding-bottom: 10px;
}

.advantages-features {
    color: var(--title-color);
    width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: px;
}

.advantages-text {
    color: var(--aditional-color);
    width: 270px;

    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.work-list {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}



.work-title {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    padding-top: 127px;

}

.work-img {
    width: 370px;
    height: 294px;

}

.team-list {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}




.team-title {
    padding-top: 188px;
}


.team {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.66;
    letter-spacing: 1.08px;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-caption {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    padding-top: 30px;
}

.team-desc {
    color: var(--aditional-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    padding-bottom: 124px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

}

.address {
    padding-top: 20px;
}



.address-link {
    padding-top: 9px;
    display: flex;
}



.footer {
    background-color: var(--footer-background);
}

.footer-logo {
    color: var(--main-background);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo-color {
    color: var(--header-logo);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.address-item {
    color: var(--main-background);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link {
    color: var(--footer-number);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.address-link:hover {
    color: var(--header-logo);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.content-title {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.content-about {
    color: var(--aditional-color);
    width: 322px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 126px;
}

.btn-item:hover {
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    color: var(--team-background);
    background-color: var(--header-logo);
}

.btn-item {
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.content-title {
    display: flex;
    padding-top: 20px;

}



.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
