:root {
    --accent-color: #757575;
    --accent-color: #212121;
}

body {
    font-family: "Roboto" , sans-serif;
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}
.logotyp {
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}
.studio2 {
    color: #2196F3;
}
.portfolio {
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.сontacts {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.mail {
    font-weight: 500;
    font-size: 14px;
    color: #2196F3;
}
.number {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}
.title {
    font-size: 44px;
}
.font_family2 {
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 500;
}
 
.button2:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

h3 + p {
    color: #757575;
}
h1 {
    color: #FFFFFF;
    background-color: #2F303A;
}
.button {
    background-color: #2196F3;
    color: aliceblue;
}
.details {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.punctuality {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.plan {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.moderntechnology {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.list {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}
.list2 {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}
.details + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
 }
.punctuality + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.plan + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.moderntechnology + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.list {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}
.list2 {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}
.name1 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name2 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name3 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name4 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name1 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name2 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name3 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name4 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
footer {
    background-color: #2F303A;
}
.adress {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.mail2 {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.number2 {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}
.logo1 {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}
.logotyp1 {
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}
