:root {
    --accent-color: #757575;
    --accent-color: #212121;
}

body {
    font-family: "Roboto" , sans-serif;
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}
.logotyp {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}
.studio { 
    font-size: 14px;
    font-weight: 500;
    
    color: #2196F3;
}
.studio2 {
    color: #000000;
}
.portfolio {
    font-size: 14px;
    font-weight: 500;
    color:#000000;
}
.portfolio2 {
    color: rgb(33, 150, 243, 0.6);
}
.—Åontacts {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}
.mail {
    font-weight: 500;
    font-size: 14px;
    color: #2196F3;
}
.number {
    font-weight: 500;
    font-size: 14px;
    color: #2196F3;
}
.title {
    font-size: 44px;
}
.font_family2 {
    font-family: "Roboto" , sans-serif;
    font-size: 16px;
    font-weight: 500;
}
 
.button2:hover {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2196F3;

}

h3 + p {
    color: #757575;
}
.title_section {
    color: #FFFFFF;
    background-color: #2F303A;
}
.button {
    font-size: 16px;
    font-weight: 700;
    background-color: #2196F3;
    color: aliceblue;

}
.details {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.punctuality {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.plan {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.moderntechnology {
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.list {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}
.list2 {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}
.details + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
 }
.punctuality + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.plan + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.moderntechnology + p {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}
.list {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}
.list2 {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}
.name1 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name2 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name3 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name4 {
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}
.name1 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name2 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name3 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.name4 + p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
footer {
    background-color: #2F303A;
}
.adress {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.mail2 {
    font-weight: 400;
    font-size: 14px;
    color:rgb(255, 255, 255, 0.6)
}
.number2 {
    font-weight: 400;
    font-size: 14px;
    color:rgb(255, 255, 255, 0.6)
    
}
.logo1 {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #2196F3;
}
.logotyp1 {
    font-family: "Raleway", sans-serif ;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}
.title2 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title3 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title4 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title6 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title7 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title8 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title9 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.title10 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
